<h1> SIGN UP</h1>
<body>
    <form action="/users/create" method="POST">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="lname">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="pass" name="password" required><br>
        <label for="Password">Confirm Password:</label><br>
        <input type="password" id="confirm" name="confirm_password" required><br><br>
        <input type="submit" value="Submit">
      </form> 